/* 장바구니 모달창 */
.menu_bg{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    /* position: sticky; */
    position: absolute;
    left: 0;
    right: 0;
    top:0;
    display: none;
    z-index: 1000;
}
.sidebar_menu{
    z-index: 1001;
    display: none;
    width: 20%;
    height: 100%;
    background: whitesmoke;
    /* position: absolute; */
    position: fixed;
    top:0;
    right: -20%;
    
}
.sidebar_menu .basket_item{
    width: 13px;
}
.close_btn{
    width: 25px;
    height: 25px;
    margin:10px;
}
.close_btn > a{
    display: block;
    width: 100%;
    height: 100%;
}
.menu_wrap{
    list-style: none;
    padding: 20px 20px;   
}
.menu_wrap li a{
    color: #fff;
    text-decoration: none;
}
