<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"https://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="adminMapper">
	<resultMap type="Member" id="memberResult">
		<result column="user_no" property="userNo"/>
		<result column="user_id" property="userId"/>
		<result column="user_pwd" property="userPwd"/>
		<result column="user_name" property="userName"/>
		<result column="birthday" property="birthDay"/>
		<result column="gender" property="gender"/>
		<result column="phone" property="phone"/>
		<result column="email" property="email"/>
		<result column="status" property="status"/>
		<result column="grade_no" property="gradeNo"/>
	</resultMap>
	
	<resultMap type="Qna" id="qnaResult">
		<result column="QNA_NO" property="qnaNo"/>
		<result column="USER_ID" property="userId"/>
		<result column="QNA_TITLE" property="qnaTitle"/>
		<result column="QNA_CONTENT" property="qnaContent"/>
		<result column="QNA_ANSWER" property="qnaAnswer"/>
		<result column="QNA_DATE" property="qnaDate"/>
	</resultMap>
	
	<resultMap type="Notice" id="noticeResult">
		<result column="NOTICE_NO" property="noticeNo"/>
		<result column="USER_ID" property="noticeWriter"/>
		<result column="NOTICE_TITLE" property="noticeTitle"/>
		<result column="NOTICE_CONTENT" property="noticeContent"/>
		<result column="NOTICE_DATE" property="noticeDate"/>
	</resultMap>
	
	<resultMap type="Gift" id="giftResult">
		<result column="gift_no" property="giftNo"/>
		<result column="category_no" property="categoryNo"/>
		<result column="gift_name" property="giftName"/>
		<result column="gift_content" property="giftContent"/>
		<result column="gift_price" property="giftPrice"/>
		<result column="count" property="count"/>
		<result column="img_path" property="imgPath"/>
		<result column="img_1" property="img1"/>
		<result column="img_2" property="img2"/>
		<result column="img_3" property="img3"/>
	</resultMap>
	
	
	<select id="selectListCount" resultType="_int">
		select 
			   count(*)
		  from member
		 where status = 'Y'
	</select>
	
	<select id="selectList" resultMap="memberResult">
		select
		        user_no
		       ,user_id
		       ,user_pwd
		       ,user_name
		       ,to_char(BIRTHDAY, 'YYYY-MM-DD') as "BIRTHDAY"
		       ,gender
		       ,phone
		       ,email
		       ,grade_no
		  from member
         where status = 'Y'
	</select>
	
	<select id="selectMemberList" resultMap="memberResult">
		select
		        user_no
		       ,user_id
		       ,user_pwd
		       ,user_name
		       ,to_char(BIRTHDAY, 'YYYY-MM-DD') as "BIRTHDAY"
		       ,gender
		       ,phone
		       ,email
		       ,grade_no
		  from member
         where status = 'Y'
	</select>
	  	<select id="adminQnaCount" resultType="_int">
		select
				count(*)
		  from qna
		 where status = 'Y'
	</select>

	<select id="adminQnaList" resultMap="qnaResult">
	   SELECT
			  QNA_NO
			, QNA_TITLE
			, QNA_CONTENT
			, QNA_ANSWER
			, to_char(QNA_DATE, 'YYYY-MM-DD') as QNA_DATE
         FROM QNA
        WHERE STATUS = 'Y'
	</select>
  	
  	<select id="adminNoticeCount" resultType="_int">
		select 
				count(*)
	 	   from notice
	 	  where status = 'Y'
  	</select>
  	
  	<select id="adminnoticeList" resultMap="noticeResult">
		select 
		       NOTICE_NO
		     , NOTICE_TITLE
		     , NOTICE_CONTENT
		     , to_char(NOTICE_DATE, 'YYYY-MM-DD') as "NOTICE_DATE"
		  from notice 
  	</select>
  	
	<select id="adminGiftList" resultMap="giftResult">
		select 
        gift_no
       ,category_no
       ,gift_name
       ,gift_content
       ,gift_price
       ,count
       ,img_path as "img_path"
       ,img_1 as "img_1"
       ,img_2 as "img_2"
       ,img_3 as "img_3"

      from gift g
      left outer join product_img p on g.gift_no=p.product_no
	</select>
	
	<select id="adminGiftCount" resultType="_int">
		 select 
				count(*)
	 	   from gift
  	</select>
  	
 	<select id="selectOneCount" resultType="_int">
		select 
			   count(*)
		  from member
	</select>
	
	<select id="selectGiftCount" resultType="_int">
		 select 
				count(*)
	 	   from gift
	</select>
	
	<select id="selectvisitListCount" resultType="_int">
		select 
				count(*) 
		  from visit
	</select>
		
	<select id="selectvisitCount" resultType="_int">
		select 
				count(*) 
		  from visit
	</select>
    
   	<update id="deleteMember">
		update member
		   set status = 'N'
		 WHERE user_id = #{userId}
		  and USER_PWD = #{userPwd}
	</update>

	<select id="adminMember" resultMap="memberResult">
		insert
		  into member
		  (
		  	 user_no
		    ,user_id
		    ,user_pwd
		    ,user_name
		    ,birthday
		    ,gender
		    ,phone
		    ,email
		    ,status
		    ,grade_no
		  )
	  values
	  (
	  	 seq_mno.nextval
	  	,#{userId}
	  	,#{userPwd}
	  	,#{userName}
	  	,to_date(#{birthDay}, 'yyMMdd')
	  	,#{gender}
	  	,#{phone}
	  	,#{email}
	  	,'Y'
	  	,'1'
	  )
	</select>
	
	<select id="detailMember" resultMap="memberResult">
		select
		        user_no
		       ,user_id
		       ,user_pwd
		       ,user_name
		       ,birthday
		       ,gender
		       ,phone
		       ,email
		       ,status
		       ,grade_no
		  from member
 		 where user_id = #{userId}
 		   and status = 'Y'
	</select>
</mapper>






