<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"https://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="adminBoardMapper">
	
	<resultMap type="Qna" id="qnaResult">
		<result column="QNA_NO" property="qnaNo"/>
		<result column="USER_ID" property="userId"/>
		<result column="QNA_TITLE" property="qnaTitle"/>
		<result column="QNA_CONTENT" property="qnaContent"/>
		<result column="QNA_ANSWER" property="qnaAnswer"/>
		<result column="QNA_DATE" property="qnaDate"/>
	</resultMap>
	
	<resultMap type="Notice" id="noticeResult">
		<result column="NOTICE_NO" property="noticeNo"/>
		<result column="USER_ID" property="noticeWriter"/>
		<result column="NOTICE_TITLE" property="noticeTitle"/>
		<result column="NOTICE_CONTENT" property="noticeContent"/>
		<result column="NOTICE_DATE" property="noticeDate"/>
	</resultMap>
	


  	<select id="adminQnaCount" resultType="_int">
		select
				count(*)
		  from qna
		 where status = 'Y'
	</select>
	
	<select id="adminQnaList" resultMap="qnaResult">
	   SELECT
			  QNA_NO
			, QNA_TITLE
			, QNA_CONTENT
			, QNA_ANSWER
			, to_char(QNA_DATE, 'YYYY-MM-DD') as QNA_DATE
         FROM QNA
        WHERE STATUS = 'Y'
	</select>
	
  	<select id="adminNoticeCount" resultType="_int">
		select 
				count(*)
	 	   from notice
	 	  where status = 'Y'
  	</select>
  	
  	<select id="adminnoticeList" resultMap="noticeResult">
		select 
		       NOTICE_NO
		     , NOTICE_TITLE
		     , NOTICE_CONTENT
		     , to_char(NOTICE_DATE, 'YYYY-MM-DD') as "NOTICE_DATE"
		  from notice 
  	</select>

</mapper>






