<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >

<mapper namespace="basketMapper">
	
	<resultMap type="Basket" id="basketResultSet">
		<result column="user_no" property="userNo"></result>
		<result column="user_name" property="userName"></result>
		<result column="gift_name" property="giftName"></result>
		<result column="gift_price" property="giftPrice"></result>
		<result column="file_path" property="filePath"></result>
		<result column="ref_no" property="refNo"></result>
		<result column="count" property="count"></result>
		<result column="gift_content" property="giftContent"></result>
		<result column="category_Item" property="categoryItem"></result>
	</resultMap>
	
	<resultMap type="Coupon" id="CouponResultSet">
		<result column="coupon_no" property="couponNo"></result>
		<result column="user_no" property="userNo"></result>
		<result column="coupon_content" property="couponContent"></result>
		<result column="coupon_value" property="couponValue"></result>
		<result column="start_coupon" property="startCoupon"></result>
		<result column="end_coupon" property="endCoupon"></result>
	</resultMap>
	<resultMap type="Gift" id="giftResult">
		<result column="GIFT_NO" property="giftNo"></result>
		<result column="GIFTCATEGORY_NO" property="categoryNo"></result>
		<result column="GIFT_NAME" property="giftName"></result>
		<result column="GIFT_CONTENT" property="giftContent"></result>
		<result column="GIFT_PRICE" property="giftPrice"></result>
		<result column="COUNT" property="count"></result>
	
	</resultMap>
	<resultMap type="GiftHistory" id="giftHistoryResult">
		<result column="GHIS_NO" property="ghisNo"/>
		<result column="GIFT_NO" property="giftNo"/>
		<result column="USER_NO" property="userNo"/>
		<result column="BUYMETHOD_NO" property="butMethodNo"/>
		<result column="PAYMENT_NO" property="paymentNo"/>
		<result column="PIECE" property="piece"/>
		<result column="CREATE_DATE" property="createDate"/>
		<result column="GIFT_NAME" property="giftName"/>
		<result column="GIFT_CONTENT" property="giftContent"/>
		<result column="IMG_1" property="img1"/>
		<result column="IMG_PATH" property="imgPath"/>
		<result column="GRIV_NO" property="grivNo"/>
		<result column="IMP_UID" property="impUid"/>
	</resultMap>
	
	
	
		<select id="selectBasketList" resultMap="basketResultSet">
		select
               user_id
             , user_name
             , b.user_no
             , gift_name
             , gift_price
             , b.count
             , img_path || '/' || img_1 as file_path
             , ref_no
             , gift_content
             , c.category_item
          from gift g
          left join basket b on (gift_no = ref_no)
          left join product_img on (gift_no = product_no)
          left join member m on (b.user_no = m.user_no)
          left join gift_category c on (g.category_no = c.category_no)
         where b.user_no = #{ userNo }
	</select>
	
	<delete id="deleteBasket" parameterType="Basket">
		delete 
		  from basket
	   <foreach item="arr" collection="delRef" open="where (ref_no = " close=")" separator="or ref_no =">
              #{arr}
      </foreach>
           and user_no = #{ userNo }
	</delete>
  	
  	<select id="selectCouponList" resultMap="CouponResultSet">
  		select 
		       c.coupon_no
		     , user_no
		     , coupon_content
		     , coupon_value
		     , start_coupon
		     , end_coupon
		  from user_coupon u
		  left join coupon c on (u.coupon_no = c.coupon_no)
		 where user_no = #{ userNo }
		   and status = 'Y'
  	</select>
  	<select id="selectbasketOne" resultMap="giftResult">
  		select 
		       GIFT_NO
		     , CATEGORY_NO
		     , GIFT_NAME
		     , GIFT_CONTENT
		     , GIFT_PRICE
		  from gift
		 where status = 'Y'
		   and gift_no = #{giftNo}
  	</select>
  	<delete id="deleteOrderBasket">
  		delete basket
		 where user_no = #{userNo}
		   and ref_no = #{giftNo}
  	</delete>
  	<insert id="insertGiftHistiry">
  	insert 
	  INTO gift_history
	     (
	       GHIS_NO
	     , GIFT_NO
	     , USER_NO
	     , BUYMETHOD_NO
	     , PIECE
	     , IMP_UID
	     )
	values
	     (
	       SEQ_GHIS.nextval
	     , #{giftNo}
	     , #{userNo}
	     , 1
	     , #{orderCount}
	     , #{impUid}
	     )
  	</insert>
  	<insert id="insertPayment">
  		insert
		  into payment
		     (
		       GHIS_NO
		     , TOTAL_PAY
		     , DISCOUNT
		     )
		values
		     (
		       SEQ_GHIS.CURRVAL
		     , #{giftPrice}
		     , 0
		     )
  	</insert>
  	<select id="selectGift" resultMap="giftHistoryResult">
	select
	       GHIS_NO
	     , GIFT_NO
	     , USER_NO
	     , BUYMETHOD_NO
	     , CREATE_DATE
	     , PIECE
	     , IMP_UID
	  from gift_history
	 where GHIS_NO =#{ghisNo}
	</select>
	<delete id="deleteGiftHisroty">
		DELETE gift_history
		WHERE ghis_no = #{ghisNo}
	</delete>
	<update id="updateGiftCount">
	update gift
	   SET COUNT = COUNT + #{piece}
	 where GIFT_NO = #{giftNo}
	</update>
	<update id="downDateGiftCount">
	update gift
	   SET COUNT = COUNT - #{orderCount}
	 where GIFT_NO = #{giftNo}
	</update>










</mapper>
