<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >

<mapper namespace="boardMapper">
	<resultMap type="Notice" id="noticeResult">
		<result column="NOTICE_NO" property="noticeNo"/>
		<result column="USER_ID" property="noticeWriter"/>
		<result column="NOTICE_TITLE" property="noticeTitle"/>
		<result column="NOTICE_CONTENT" property="noticeContent"/>
		<result column="NOTICE_DATE" property="noticeDate"/>
	</resultMap>
	<resultMap type="Qna" id="qnaResult">
		<result column="QNA_NO" property="qnaNo"/>
		<result column="USER_ID" property="userId"/>
		<result column="QNA_TITLE" property="qnaTitle"/>
		<result column="QNA_CONTENT" property="qnaContent"/>
		<result column="QNA_ANSWER" property="qnaAnswer"/>
		<result column="QNA_DATE" property="qnaDate"/>
	</resultMap>
	<resultMap type="CollaboRation" id="collaboResult">
		<result column="CP_NO" property="cpNo"/>
		<result column="user_no" property="userNo"/>
		<result column="USER_ID" property="userId"/>
		<result column="CP_TITLE" property="cpTitle"/>
		<result column="CP_CONTENT" property="cpContent"/>
		<result column="CP_DATE" property="cpDate"/>
	</resultMap>


	<select id="selectNoticeListCount" resultType="_int">
		select 
				count(*)
	 	   from notice
	 	  where status = 'Y'
  	</select>
  	<select id="selectCollaboListCount" resultType="_int">
  		select 
				count(*)
	 	   from COLLABORATION_CP
	 	  where status = 'Y'
  	</select>
  	<select id="selectQnaListCount" resultType="_int">
		select 
				count(*)
	 	   from qna
	 	  where status = 'Y'
  	</select>
  	
  	<select id="selectNoticeList" resultMap="noticeResult">
	  	select 
	       NOTICE_NO
	     , USER_ID
	     , NOTICE_TITLE
	     , NOTICE_CONTENT
	     , to_char(NOTICE_DATE, 'YYYY-MM-DD') as "NOTICE_DATE"
	  from notice n
	  join member using(user_no)
	 where n.STATUS = 'Y'
	 order
	    by NOTICE_NO desc
  	</select>
  	<select id="selectQnaList" resultMap="qnaResult">
  		select 
		       QNA_NO
		     , USER_ID
		     , QNA_TITLE
		     , QNA_CONTENT
		     , QNA_ANSWER
		     , to_char(QNA_DATE, 'YYYY-MM-DD') as "QNA_DATE"
		  from qna q
		  join member using(user_no)
		 where q.STATUS = 'Y'
  	</select>
  	<select id="selectCollaboList" resultMap="collaboResult">
  		select 
	       CP_NO
	     , USER_ID
	     , user_no
	     , CP_TITLE
	     , CP_CONTENT
	     , to_char(CP_DATE, 'YYYY-MM-DD') as "CP_DATE"
	  from COLLABORATION_CP cc
	  join member using(user_no)
	 where cc.status = 'Y'
	 order
	    by cp_no desc
  	</select>
  	<select id="selectNotice" resultMap="noticeResult">
		select 
		       NOTICE_NO
		     , USER_ID
		     , NOTICE_TITLE
		     , NOTICE_CONTENT
		     , to_char(NOTICE_DATE, 'YYYY-MM-DD') as "NOTICE_DATE"
		  from notice n
		  join member using(user_no)
		 where n.STATUS = 'Y'
		   and NOTICE_NO = #{boardNo}
		 order
		    by NOTICE_NO desc
  	</select>
  	<select id="selectQna" resultMap="qnaResult">
  	select 
	       QNA_NO
	     , USER_ID
	     , QNA_TITLE
	     , QNA_CONTENT
	     , QNA_ANSWER
	     , QNA_DATE
	  from qna q
	  join member using(user_no)
	 where q.STATUS = 'Y'
	   and qna_no = #{boardNo}
  	
  	</select>
  	<select id="selectCollabo" resultMap="collaboResult">
  	select 
	       CP_NO
	     , USER_ID
	     , user_no
	     , CP_TITLE
	     , CP_CONTENT
	     , to_char(CP_DATE, 'YYYY-MM-DD') as "CP_DATE"
	  from COLLABORATION_CP cc
	  join member using(user_no)
	 where cc.status = 'Y'
	   and cp_no = #{boardNo}
  	</select>
  	<insert id="insertNotice">
	  	insert
		  into notice
		     (
		       NOTICE_NO
		     , USER_NO
		     , NOTICE_TITLE
		     , NOTICE_CONTENT
		     )
		VALUES
		     (
		       seq_nbo.nextval
		     , 1
		     , #{noticeTitle}
		     , #{noticeContent}
		     )
  	</insert>
  	<insert id="insertCollabo">
  		insert
		  into COLLABORATION_CP
		     (
		       CP_NO
		     , USER_NO
		     , CP_TITLE
		     , CP_CONTENT
		     , CP_DATE
		     )
		values
		     (
		       SEQ_CPNO.NEXTVAL
		     , #{userNo}
		     , #{cpTitle}
		     , #{cpContent}
		     , sysdate
		     )
  	</insert>
  	<insert id="insertQna">
  		insert 
		  into qna
		     (
		       QNA_NO
		     , USER_NO
		     , QNA_TITLE
		     , QNA_CONTENT
		     )
		VALUES
		     (
		       seq_qbo.nextval
		     , #{userNo}
		     , #{qnaTitle}
		     , #{qnaContent}
		     )
  	</insert>
  	<update id="updateNoticeBoard">
  	   update notice
		  set NOTICE_TITLE = #{noticeTitle}
		    , NOTICE_CONTENT = #{noticeContent}
		where NOTICE_NO = #{noticeNo}
  	</update>
  	<update id="updateQnaBoard">
	  	update qna
		   set QNA_TITLE = #{qnaTitle}
		     , QNA_CONTENT = #{qnaContent}
		 where QNA_NO = #{qnaNo}
  	</update>
  	<update id="updateCollaboBoard">
  		update COLLABORATION_CP
  		   set CP_TITLE = #{cpTitle}
			 , CP_CONTENT = #{cpContent}
		 where CP_NO = #{cpNo}
  	</update>
  	<delete id="deleteNotice">
	  	DELETE notice
	 	 where notice_no = #{boardNo}
  	</delete>
  	<delete id="qnaNotice">
  		DELETE qna
	 	 where qna_no = #{boardNo}
  	</delete>
  	<delete id="deleteCollabo">
  		delete COLLABORATION_CP
  		where CP_NO = #{cpNo}
  	</delete>
  	<update id="updateQnaAnswer">
  		update qna
  		   set QNA_ANSWER = #{qnaAnswer}
  		 where QNA_NO = #{qnaNo}
  	</update>
  	
  	<select id="adminQnaCount" resultType="_int">
		select
				count(*)
		  from qna
		 where status = 'Y'
	</select>

	<select id="adminQnaList" resultMap="qnaResult">
	   SELECT
			  QNA_NO
			, QNA_TITLE
			, QNA_CONTENT
			, QNA_ANSWER
			, to_char(QNA_DATE, 'YYYY-MM-DD') as QNA_DATE
         FROM QNA
        WHERE STATUS = 'Y'
	</select>
  	
  	<select id="adminNoticeCount" resultType="_int">
		select 
				count(*)
	 	   from notice
	 	  where status = 'Y'
  	</select>
  	
  	<select id="adminnoticeList" resultMap="noticeResult">
		select 
		       NOTICE_NO
		     , NOTICE_TITLE
		     , NOTICE_CONTENT
		     , to_char(NOTICE_DATE, 'YYYY-MM-DD') as "NOTICE_DATE"
		  from notice 
  	</select>
  	
  	
</mapper>
