<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >

<mapper namespace="mainMapper">
	<resultMap type="HashTag" id="tagResultSet">
		<result column="product_no" property="productNo"></result>
		<result column="tag_content" property="tagContent"></result>
	</resultMap>
	
	<resultMap type="Hall" id="hallResultSet">
		<result column="h_code" property="code"></result>
		<result column="h_enterprise" property="enterprise"></result>
		<result column="h_name" property="name"></result>
		<result column="h_detail" property="detail"></result>
		<result column="h_seat" property="seat"></result>
		<result column="h_rental" property="rental"></result>
		<result column="h_restaurant_seat" property="hallSeat"></result>
		<result column="h_meal" property="meal"></result>
		<result column="h_start_time" property="startTime"></result>
		<result column="h_end_time" property="endTime"></result>
		<result column="h_phone" property="phone"></result>
		<result column="h_address" property="address"></result>
		<result column="h_unit_time" property="unitTime"></result>
		<result column="h_week_open" property="weekOpen"></result>
	</resultMap>
		<!-- 
			private String wAddress;
			private String wTag;
		 -->

	<select id="selectTagList" resultMap="tagResultSet">
		select
			   product_no
			 , tag_content
		  from 
		  	   tag
		 where
		 <if test="category == 'wedding'">
		 	product_no like 'H%'
		 </if>
		 <if test="category == 'studio'">
		 	product_no like 'S%'
		 </if>
		 <if test="category == 'dress'">
		 	product_no like 'D%'
		 </if>
		 <if test="category == 'makeup'">
		 	product_no like 'M%'
		 </if>
	</select>

	<select id ="selectHallList" resultMap="hallResultSet">
		select 
			   *
		  from hall
		 where h_rental between #{wMinPrice}*10000 and #{wMaxPrice}*10000
		   and h_meal between #{eatMinPrice}*10000 and #{eatMaxPrice}*10000
		   and h_address like #{wAddress} || '%'
		   <if test="wSeat == 1">
		   	and h_seat between 1 and 100
		   </if>
   		   <if test="wSeat == 2">
		   	and h_seat between 101 and 300
		   </if>
   		   <if test="wSeat == 3">
		   	and h_seat between 301 and 500
		   </if>
   		   <if test="wSeat == 4">
		   	and h_seat > 500
		   </if>
	</select>
	


</mapper>