<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="memberMapper">

	<resultMap type="Member" id="memberResult">
		<result column="user_no" property="userNo"/>
		<result column="user_id" property="userId"/>
		<result column="user_pwd" property="userPwd"/>
		<result column="user_name" property="userName"/>
		<result column="birthday" property="birthDay"/>
		<result column="gender" property="gender"/>
		<result column="phone" property="phone"/>
		<result column="email" property="email"/>
		<result column="status" property="status"/>
		<result column="grade_no" property="gradeNo"/>
	</resultMap>
	

	<select id="loginMember" resultMap="memberResult">
		select
		        user_no
		       ,user_id
		       ,user_pwd
		       ,user_name
		       ,birthday
		       ,gender
		       ,phone
		       ,email
		       ,status
		       ,grade_no
		  from member
 		 where user_id = #{userId}
 		   and status = 'Y'
	</select>
	<update id="updateMemberInfo">
		UPDATE member
		   SET USER_NAME = #{userName}
		     , BIRTHDAY = #{birthDay}
		     , GENDER = #{gender}
		     , PHONE = #{phone}
		     , EMAIL = #{email}
		 where USER_ID = #{userId}
	</update>
	<select id="checkMemberPwd" resultType="_int">
		select count(*)
		  from member
		 where user_pwd = #{userPwd}
	</select>
	<update id="updateMemberPwd">
		update member
		   set user_pwd = #{newPwd}
		 where user_id = #{userId}
	</update>
	<update id="deleteMember">
		update member
		   set status = 'N'
		 WHERE user_id = #{userId}
		  and USER_PWD = #{userPwd}
	</update>
	
	<insert id="createMember">
		insert
		  into member
		  (
		  	 user_no
		    ,user_id
		    ,user_pwd
		    ,user_name
		    ,birthday
		    ,gender
		    ,phone
		    ,email
		    ,status
		    ,grade_no
		  )
	  values
	  (
	  	 seq_mno.nextval
	  	,#{userId}
	  	,#{userPwd}
	  	,#{userName}
	  	,to_date(#{birthDay}, 'yyMMdd')
	  	,#{gender}
	  	,#{phone}
	  	,#{email}
	  	,'Y'
	  	,'1'
	  )
	</insert>
	
	<select id="selectUserId" resultType="_int">
		select 
				count(*)
		  from member
		 where user_id = #{userId}
	</select>
	
	<select id="selectListCount" resultType="_int">
		select 
			   count(*)
		  from member
		 where status = 'Y'
	</select>
	
	<select id="selectList" resultMap="memberResult">
		select
		        user_no
		       ,user_id
		       ,user_pwd
		       ,user_name
		       ,to_char(BIRTHDAY, 'YYYY-MM-DD') as "BIRTHDAY"
		       ,gender
		       ,phone
		       ,email
		       ,grade_no
		  from member
         where status = 'Y'
	</select>

	<select id="selectMemberList" resultMap="memberResult">
		select
		        user_no
		       ,user_id
		       ,user_pwd
		       ,user_name
		       ,to_char(BIRTHDAY, 'YYYY-MM-DD') as "BIRTHDAY"
		       ,gender
		       ,phone
		       ,email
		       ,grade_no
		  from member
         where status = 'Y'
	</select>
	
</mapper>






