<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="qnaMapper">

	<resultMap type="Qna" id="qnaResult">
		<result column="qna_no" property="qnaNo" />
		<result column="user_no" property="usrNo" />
		<result column="qna_title" property="qnaTitle" />
		<result column="qna_content" property="qnaContent" />
		<result column="qna_answer" property="qnaAnswer" />
		<result column="qna_date" property="qnaDate" />
		<result column="status" property="status" />
	</resultMap>

	<select id="selectqnaCount" resultType="_int">
		select
		count(*)
		from qna
		where status = 'Y'
	</select>

	<select id="selectqnaList" resultMap="qnaResult">
		select
			  QNA_NO
			, USER_NO
			, QNA_TITLE
			, QNA_CONTENT
			, QNA_ANSWER
			, to_char(QNA_DATE, 'YYYY-MM-DD') as QNA_DATE
			from qna
			where status = 'Y'
	</select>


</mapper>