<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >

<mapper namespace="studioMapper">
	<resultMap type="Studio" id="studioResult">
		<result column="s_code" property="stCode"/>
		<result column="s_enterprise" property="stEnterprise"/>
		<result column="s_detail" property="stDetail"/>
		<result column="s_price" property="stPrice"/>
		<result column="s_start_date" property="stStartDate"/>
		<result column="s_end_date" property="stEndDate"/>
		<result column="s_phone" property="phone"/>
		<result column="s_address" property="address"/>
		<result column="s_unit_time" property="unitTime"/>
		<result column="s_week_open" property="weekOpen"/>
	</resultMap>
	
	<select id="selectListCount" resultType="_int">
		select 
				count(*)
	 	   from studio
  	</select>
  	
  	<select id="selectList" resultMap="studioResult">
	    select 
		      s_code
		     ,s_enterprise
		     ,s_detail
		     ,s_price
		     ,s_start_date
		     ,s_end_date
		     ,s_phone
		     ,s_address
		     ,s_unit_time
		     ,s_week_open
		  from studio
  	</select>
  	
	
</mapper>